Django
djangorestframework
mysqlclient
Pygments
Markdown
coreapi
dj-database-url
gunicorn
whitenoise

django-rest-registration

django-rest-auth
django-allauth
six
django-rest-swagger

django-phonenumber-field
phonenumbers
